<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/style.css" type="text/css">
<meta charset="utf-8">
<title>Our CQ App</title>
</head>
<body>
  <h1 class="text-center" class="shadowBox">Greenly Kids</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        How Green are YOU? 
      </div>
      <h3>
        <a href="static/question.html" id="surveyButton">Start Survey</a>
      </h3>

      <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js"></script>
  </head>
  <body>
    <canvas id="myCanvas"></canvas>
    <script type="text/javascript" src="https://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js"></script>
    <script type="text/javascript" src="main.js"></script>
      
    </div>
  </div>
</body>
</html>

 